head, body, input{
    margin: auto;  
      
    }
  
  .input, .role, .drop, .submit, .com, .end, input, .heads{
    text-align: center;
  }
  .check, .rec{
    text-align: center;
  }
  
  
  
  
  